<div ng-include="'components/navbar/navbar.html'"></div>

<header id='poll_nav'>
    <div class="container">
        <div class='col-sm-4 col-md-4 col-lg-4'></div>
        <div class='col-sm-4 col-md-4 col-lg-4'>
        <button id='all' class='btn btn-primary'>All Polls</button>
        <button id='my_polls' class='btn btn-default'>My Polls</button>
        <button  id=new_poll class='btn btn-success'>New Poll</button>
        </div>
    </div>
</header>

<div id=poll_holder class='container'>
    <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in getPolls">
        <li id=pollName><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a>
            <ul ng-repeat="(choice, result) in thing.choices">
                <input type=radio name'{{choice}}'> {{choice}}
            </ul>
        </li>
      </ul>
    </div>
  </div>
</div>