<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>VoteApp</h1>
    <p class="lead">Create, Share, and Vote!</p>
    <img id=mainPic src="https://cdn4.iconfinder.com/data/icons/flatron-2000-set-1/518/check_list-512.png" alt="Let's Vote!">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class='col-xs-4 col-md-4 col-lg-4 mainSect'></div>
    <div class='col-xs-4 col-md-4 col-lg-4 mainSect text-center'>
      <h2 ng-hide='true'>Here is a place where you can create, host, and share polls all while seeing the results update in realtime.</h2>
      <button class='btn btn-info' ng-click='signUp()'>Signup</button>
      <button class='btn btn-primary' ng-click='viewPolls()'>View Polls</button>
    </div>
    <div class='col-xs-4 col-md-4 col-lg-4 mainSect'></div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Created by 
        <a href="https://github.com/Snnaus">Snnaus</a>
      </p>
  </div>
</footer>
